@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stencil';
  src: url('/fonts/eXO2 Stencil.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'CuteNotes';
  src: url('/fonts/CrazySixties.ttf') format('truetype');
}

.text-shadow-custom {
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.text-shadow-custom2 {
  text-shadow: 6px 6px 10px rgb(254, 254, 254);
}

.logo-custom {
  width: auto;
  height: 50px;
  object-fit: contain;
};



@layer base {
  html {
    /* Font Kaus come font di default */
    font-family: 'Roboto', system-ui, sans-serif;
  }

  /* ExO2 Stencil per tutti i titoli */
  h1, h2, h3, h4, h5, h6{
  font-family: 'Stencil', sans-serif;
}

.nav-link, nav, .navbar {
  font-family: 'CuteNotes', sans-serif;

}



}
@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark;
  }

  .container-padding {
    @apply px-4 sm:px-6 md:px-8;
  }
}